@model SilentAthleticsWebApp.Models.MeetupScheduler

@{
    ViewData["Title"] = "Details";
}

<h1>Itenerary</h1>

SellerId: @Model.SellerID
<br />
Seller Name: @Model.SellerName
<br />
BuyerID: @Model.BuyerID
<br />
Buyer Name: @Model.BuyerName
<br />
ItemID: @Model.ItemID
<br />

<a asp-action="Edit">Edit Itenerary</a>
